<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<div th:insert="~{layout/header :: header}"></div>
	<div th:insert="~{layout/header :: nav}"></div>
	<div layout:fragment="content"></div>
	<div th:insert="~{layout/footer :: footer}"></div>
</div>	
</body>
</html>