<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<h1>빵 주문 목록</h1>
<table class="table">
	<tr th:each="bread : ${allList}">
		<td th:text="${bread.id}">아이디: </td>
		<td th:text="${bread.breadName}">이름: </td>
		<td th:text="${bread.breadContent}">내용: </td>
		<td th:text="${bread.salary}">가격: </td>
		<td>
		<form th:action="@{/deleteBread}" method="post">
	    <input type="hidden" name="id" th:value="${bread.id}">
	    <button class="btn btn-danger btn-sm"
	            type="submit"
	            onclick="return confirm('정말 삭제하시겠습니까?');">
	        삭제
	    </button>
	</form>
	    </td>
	</tr>
</table>
</body>
</html>