<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <script>
 	function gopage(p){
		frmSearch.page.value = p;
		frmSearch.submit();
		//location.href= 'empList?page=' + p
	}
	function init(){
		frmSearch.departmentId.value=""
		frmSearch.firstName.value=""
		frmSearch.managerId.value=""
	}
 </script>
</head>
<body>
 <h1>게시판목록</h1>
 <form name="frmSearch" th:object="${boardVO}" action="boardList">
		<input type="hidden" name="page">
	</form>
 <table>
  <tr>
    <th>bno</th>
    <th>title</th>
    <th>content</th>
    <th>writer</th>
    <th>regdate</th>
  </tr>
  <tr th:each="boards,stat: ${boardList}">
    <td th:text="${boards.bno}"></td>
    <td th:text="${boards.title}"></td>
    <td th:text="${boards.content}"></td>
    <td th:text="${boards.writer}"></td>
     <td th:text="${boards.regdate}"></td>
  </tr>
 </table>
  <!-- 페이징 시작 -->
	<nav aria-label="...">
	  <ul class="pagination">
	    <li class="page-item" th:if="${paging.startPage} > 1 ">
	        <a class="page-link" th:href="|javascript:gopage(${paging.startPage-1})|">Previous</a></li>

	    <li th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}" 
	        class="page-item" 
	        th:addclass="${num} == ${paging.page} ? active">
	        <a class="page-link" th:href="|javascript:gopage(${num})|"  th:text="${num}">2</a></li>
	    
	    <li class="page-item" th:classappend="${paging.endPage} <= ${paging.lastPage} ? disabled">
	        <a class="page-link" th:href="|javascript:gopage(${paging.endPage+1})|">Next</a></li>
	  </ul>
	</nav>
	<!-- 페이징 종료 -->
</body>
</html>