<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container">
<!-- 게시글 단건조회 시작 -->
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">게시글정보</h5>
    <table class="table">
    <tr>
      <td>글번호</td>
      <td th:text="${board.bno}">100</td>
    </tr>
    <tr>
      <td>이름</td>
      <td>[[${board.writer}]]</td>
    </tr>
    <tr>
      <td>제목</td>
      <td>[[${board.title}]]</td>
    </tr>
    <tr>
      <td>내용</td>
      <td>[[${board.content}]]</td>
    </tr>
    <tr>
      <td>첨부파일</td>
      <td>
           <a th:href="|/board/filedown/${board.attach}|" 
              th:text="${board.attach}"></a> 
           <img th:src="|/upload/${board.attach}|">
      </td>
    </tr>
  </table>
    
   </div>
</div>
<!-- 게시글 단건조회 끝 -->

<!-- 댓글시작 -->	
<div class="card  mb-3">
  <div class="card-body">
  <h5 class="card-title">댓글목록</h5>
  <div id="replyList">
  <!-- 	<div class="row border">
	    <div class="col-lg-2 text-danger">홍길동</div>
	    <div class="col-lg-6">댓글 잘부탁합니다....</div>
	    <div class="col-lg-4"><button class="btn btn-success btnReplyUpdateForm">수정</button>
	                          <button class="btn btn-primary btnReplyDelete">삭제</button></div>
  	</div> -->
  </div>
  </div>
</div>  
<!-- 댓글끝 -->

<!-- 댓글 등록 시작 -->
<div class="card">
  <div class="card-body">
  <form name="replyForm">
  	<input name="reply" >
  	<input name="replyer">
  	<input name="bno" type="hidden" th:value="${board.bno}">
  	<button type="button" class="btnReplyInsert">댓글저장</button>
  </form>
 </div>
</div>
<!-- 댓글 등록 끝 -->
</div>


<script>
replyList();
replyInsert();

/*-------------------------------------
댓글 조회 ajax 호출
---------------------------------------*/
function replyList(){
	const bno = replyForm.bno.value;
	const url = `/board/${bno}/reply`
	fetch( url )
	.then( result => result.json() )
	.then( result => replyListCallback(result) )
}


/*-------------------------------------
댓글 조회 콜백
---------------------------------------*/
function replyListCallback(result){
	const replys = document.querySelector("#replyList");
	replys.innerHTML = "";
	result.forEach(item => replys.insertAdjacentHTML("beforeend", replyMake(item)) );
}


/*--------------------------------------
 * 댓글 태그 생성
 --------------------------------------*/
 function replyMake(item){
	return `<div class="row border">
    <div class="col-lg-2 text-danger">${item.replyer}</div>
    <div class="col-lg-6">${item.reply}</div>
    <div class="col-lg-4"><button type="button" data-rno="${item.rno}" class="btn btn-success btnReplyUpdateForm">수정</button>
                          <button type="button" data-rno="${item.rno}" class="btn btn-primary btnReplyDelete">삭제</button></div>
	</div>`
}
 
/*-------------------------------------
등록 버튼 이벤트 지정
---------------------------------------*/	
const url = "/reply";
function replyInsert(){
	document.querySelector(".btnReplyInsert")
	.addEventListener("click", function(){
		//파라미터 만들기
		const reply = replyForm.reply.value;
		const replyer = replyForm.replyer.value;
		const bno = replyForm.bno.value;
		const param = {reply, replyer, bno}
		
		
		//등록 요청
		fetch(url, {
			method:"post",
			headers: {
			      "Content-Type": "application/json",
			      // 'Content-Type': 'application/x-www-form-urlencoded',
			    },
			body : JSON.stringify(param), 
		})
		.then( result => result.text() )
		.then( result => alert(result) )  //t 1 vo
		//.then( result => replyList() )
	})
} 
</script>
</body>
</html>



